body
{
	/*font family*/
	font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    background-image: url('../../images/black.jpg');
}


section h1, footer h1, nav a
{
    font-family: 'Dayrom', serif;
    font-weight: normal;
    text-transform: uppercase;
}



header
{
	color: white; 
	height: 150px; 
	margin-top: 30px;  
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	/*background-image: url('../images/black.jpg')*/   
}

#main_title
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto; 
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}


header h2
{	

	font-family: 'Dayrom', serif;
    font-size: 1.1em;
    font-weight: normal; 
    margin: 0 0 0 15px;
}

header nav
{
	margin: auto;
}

nav ul
{
	list-style-type: none;
	display: flex;   
}

nav li
{
    margin-right: 15px;
    margin-top: 15px; 
}

nav a
{
    font-size: 0.8em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;

}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}



section
{
    padding: 12px;  
	/* Center and scale the image nicely*/ 
	background-image: url('../../images/mountain.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section #main_title
{
	margin-top: 30px; 
	text-align: center; 
	padding: 30px;  
	font-weight: bold;	
	color: white; 
	width: 50%; 
	/*border*/
	border-top: 3px solid white;
	border-bottom:3px solid white;
	border-radius: 50px; 
}

/* video design*/
.demo
{
	margin: 50px 0px 50px 0px;
	display: flex;
	justify-content: center;
}

video
{
	/* centered the video*/
	width: 600px;
	height: 415px; 
}

/* main paragraph text and title  */

#main_text
{
	width: 50%;  
	margin-bottom: 20px;  
	border-bottom:3px solid white;

}

#main_text p, #main_text li
{
	color: white;
	font-size: 1.2em;	
}

section #subtitle
{

	text-align: center;
	font-weight: bold;	
	font-size: 1.5em; 
	color: white; 

	/*border*/
	border-bottom:3px solid white;
}

footer
{
	color: white;
	display: flex; 
	flex-direction: column;
	border-radius: 10px; 
	height: 200px; 

	/*background-image: url('../images/black.png');*/
}


footer ul
{
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center; 
}

footer li 
{
	padding-right: 100px; 
}

#logo
{

	display: flex;
	justify-content: center;
	align-items: center; 

	padding-top: 50px;
	padding-bottom: 50px; 

	/* change the position to go to the left 
	position: relative;
   	left: 120px; */
}

footer a
{
	padding-right: 15px; 
	font-size: 48px; 
	text-decoration: none; 
}

#github
{
	color: white; 
}

#linkedin
{
	color: blue; 
}

footer img
{

	width: auto;
	height: auto;
	max-width: 42px; 
	max-height: 42px; 
}

.copyright
{
	padding-left: 10px; 
	font-size: 0.8em;
}

/* Définition des polices personnalisées */
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../../polices/ballpark.eot');
    src: url('../../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../../polices/ballpark.woff') format('woff'),
         url('../../polices/ballpark.ttf') format('truetype'),
         url('../../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../../polices/dayrom.eot');
    src: url('../../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../../polices/dayrom.woff') format('woff'),
         url('../../polices/dayrom.ttf') format('truetype'),
         url('../../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
section {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']'; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: blue; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

section ol
{
	
	position: relative;
	right: 50px; 
	color:  white; 
}

section ol li
{
	font-size: 0.7em; 
}